.jumbotron {
    background-color: #E5E5E5;
}

food-box,
search-box {
    margin-bottom: 3rem;
    display: block;
}

.food-card {
    margin-bottom: 1rem;
}

/* .food-card div {
    cursor: default;
} */

footer {
    text-align: center;
    color: #ffffff;
    background-color: #14213d;
    padding: 7vh 0;
}

footer a {
    text-decoration: none;
    color: #fca311;
}

footer a:hover,
footer a:active {
    text-decoration: none;
    color: #ffc107;
}