.jumbotron {
    background-color: #E5E5E5;
}

food-box,
search-box {
    margin-bottom: 3rem;
    display: block;
}

food-card {
    margin-bottom: 1rem;
}

food-card a {
    color: #14213d;
    text-decoration: none;
}

food-card a:hover,
food-card a:active {
    color: #ffc107;
}

.modal-body img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {}

/* .food-card div {
    cursor: default;
} */

footer {
    text-align: center;
    color: #ffffff;
    background-color: #14213d;
    padding: 7vh 0;
}

footer a {
    text-decoration: none;
    color: #fca311;
}

footer a:hover,
footer a:active {
    text-decoration: none;
    color: #ffc107;
}